<div class ="content">
	<div class="content-box">	
		<div id = "image">
				<img id = "logo" alt="Google" height="95" src="https://www.google.com/images/srpr/logo11w.png">
			</img>
			</div>	
				<ul>	
			<div id = "search-area">
				<li id = "search">
					<input type ="text">
					<label id = "mic">Mic</label>
				</li>
				<div id ="submit">	
					<li>
						<span class = "search-buttons"><input type = "submit" value ="Google Search"</span>
						<span class = "search-buttons"><input type = "submit" value ="I'm feeling lucky"</span>
					</li>
				</div>
			</div>
			
		</ul>
	
	</div>		
</div>